# TUPLES

In [ ]:
# tuple immutable(degisemez) list mutable(degisebilir)
# tuple  list lere gore daha guvenli
# tuple() fonksiyonu icine iterable elemanlar yazabiliriz.(int yazilamaz mesela)
# tuple  daha hizli list ler daha yavas (tuple larin uzerinde daha az islem yapildigi icin)
# tuple  da list ler gibi iterable dir.Uzerinde gezinilebilir. 
# tuple bir eslem(mapping) list dizisel bir yapidadir
# tuple icerisinde olusturulan veriler degistirilemez veya silinemez
#  Modifiye etmek isteyebileceğimiz dataları listeler halinde, 
#  modifiye edilmesine engel olmak istediğimiz dataları da tuple halinde saklamalıyız.

* tuple yapısına öğe eklenemez; list yapısındaki append() metodu yoktur.
* tuple yapısında öğe atılamaz; list yapısındaki remove() ve pop() metotları yoktur.
tuple içinde bir öğe aranamaz ; list yapısındaki index() metodu yoktur.
Döngüler tuple’da list yapısına göre daha hızlıdır.
Değişmeyecek veriler için tuple yapısı list yapısına göre daha uygun seçimdir.
Değişmezliği nedeniyle tuple, dictionary yapısı için anahtar kelimeler olarak kullanılabilir.
Tuple string dönüşümü için kullanabilir.
Tuple yapısından list yapısına ve list yapısından tuple yapısına rahatlıkla dönüşüm yapılabilir.

In [ ]:
tuple() # bu sekilde de tuple olusturulabilir
()      # bu sekilde de olusturulabilir

In [2]:
name = 'Hanife'
tuple(name)

('H', 'a', 'n', 'i', 'f', 'e')

In [3]:
tuple('Hanife')

('H', 'a', 'n', 'i', 'f', 'e')

In [16]:
("Hanife")

'Hanife'

In [5]:
type(('Hanife'))

str

In [15]:
type(('Hanife',))

tuple

In [13]:
('Hanife',) # tek elemanli tuple olusturmak istersek sadece () parantez ile 
            # tuple olusturacaksak bu sekilde tirnaktan sonra ,(virgul) koymaliyiz
            # bu onun tuple oldugunu belirtmemizi saglar. Aksi halde str olur.

('Hanife',)

In [14]:
tuple(["hello"])

('hello',)

In [21]:
type((2,5,6))

tuple

In [22]:
# bir diger tuple olusturma yontemi
names = "Ahmet", "Ayse"
type(names)

tuple

In [24]:
type(())

tuple

In [25]:
type(tuple())

tuple

In [27]:
a = ()
a

()

In [28]:
b = tuple()
b

()

In [32]:
aa = list("TechPro")
aa

['T', 'e', 'c', 'h', 'P', 'r', 'o']

In [33]:
tuple(aa) # list datatype i tuple a cevirdik

('T', 'e', 'c', 'h', 'P', 'r', 'o')

In [34]:
aa

['T', 'e', 'c', 'h', 'P', 'r', 'o']

In [35]:
(aa,)

(['T', 'e', 'c', 'h', 'P', 'r', 'o'],)

In [30]:
bb = tuple ("techpro") 
bb

('t', 'e', 'c', 'h', 'p', 'r', 'o')

In [31]:
list(bb) # tuple list e cevirdik

['t', 'e', 'c', 'h', 'p', 'r', 'o']

In [36]:
bb

('t', 'e', 'c', 'h', 'p', 'r', 'o')

## range()

In [37]:
range(10) # range() fonksiyonu icine yazilan sayiya kadar(dahil degil) sayi uretir. Default olarak 0 dan baslar

range(0, 10)

In [38]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [40]:
list(range(2,14,2)) # 2 den basla 14 e kadar(dahil degil) 2 ser al

[2, 4, 6, 8, 10, 12]

In [41]:
tuple(range(-5,17,3))

(-5, -2, 1, 4, 7, 10, 13, 16)

In [45]:
tuple(range(2,10.-1)) #start stop step yonu uymadigi icin hata verdi

TypeError: 'float' object cannot be interpreted as an integer

In [48]:
tuple(range(10,2,-1)) #tersten yazdirdi

(10, 9, 8, 7, 6, 5, 4, 3)

In [50]:
print(list(range(50)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [7]:
potpori = (1,3.14, False, [1, 2, "a"], (4, 5), "Murat")
potpori

(1, 3.14, False, [1, 2, 'a'], (4, 5), 'Murat')

In [52]:
len(potpori)

6

In [16]:
potpori[1]

3.14

In [53]:
type(potpori)

tuple

In [8]:
potpori+tuple("ayse")

(1, 3.14, False, [1, 2, 'a'], (4, 5), 'Murat', 'a', 'y', 's', 'e')

In [4]:
potpori #kalici degisiklik yapmadi

NameError: name 'potpori' is not defined

In [10]:
potpori+(7, 8)

(1, 3.14, False, [1, 2, 'a'], (4, 5), 'Murat', 7, 8)

In [15]:
tuple_1 = "ali","ayse"

In [59]:
a = ("hello") # tek bir eleman ve virgul olmadigi icin str dir
b = (3, 5, 7)
b += a # farkli data type eklenemez
print(b)

TypeError: can only concatenate tuple (not "str") to tuple

In [60]:
a = ("hello",) # tek bir eleman ve virgul oldugu icin tuple dir
b = (3, 5, 7)
b += a # ayni data type eklenebildi atama yapildigi icin kalici oldu
print(b)

(3, 5, 7, 'hello')

In [61]:
potpori

(1, 3.14, False, [1, 2, 'a'], (4, 5), 'Murat')

In [62]:
# tuple aslinda degistirilemez biz burada tuple icindeki list uzerinde degisiklik yapabildik
# bu tuple in immutable oldugunu degistirmez. Bunlar istisnai dir
potpori[3].append(4) 
potpori

(1, 3.14, False, [1, 2, 'a', 4], (4, 5), 'Murat')

In [66]:
potpori.count(3.14)

1

In [67]:
potpori.count(0) # icindeki False un degeri 0 old. icin 1 tane saydi

1

In [68]:
cc = [0, 2, 4, 6, 8, 10]

In [70]:
cc[-1] = 'Techpro' # -1. elemani Techpro yapti
cc

[0, 2, 4, 6, 8, 'Techpro']

In [71]:
dd = (2, 4 ,6, 8, 10)

In [72]:
dd[-1] = 'ali' # tuple larda elemanlarin yerine yenisi atanamaz

TypeError: 'tuple' object does not support item assignment

In [73]:
dd.index(2) # tuple larin indexi bulunabilir

0

<img src= "num1.png" >

In [78]:
data_1 =input("Enter a data")
data_2 =input("Enter a data")
if data_1.isdigit() and data_2.isdigit() :
    print(int(data_1)+int(data_2))
else :
    print("At least one of the data is not int")

At least one of the data is not numeric