In [3]:
jan = marc = may = jul = august = oct =dec = 31
feb = 28
apr = jun = sep =nov =30
print(jan,feb,marc,apr, may, jun, jul,august, sep, oct, nov,dec )

31 28 31 30 31 30 31 31 30 31 30 31

# Type Conversion

## all types to str

In [1]:
age = 30
print(age)
type(age)

30

int

In [2]:
converted_age = str(age) #str() fonksiyonu icine yazilan farkli turdeki data type string e cevirir
print(converted_age)     # tum data types string e donusturulebilir
type(converted_age)

30

str

In [3]:
pi_number = 3.14
type(pi_number)

float

In [4]:
converted_pi_number = str(pi_number)

In [5]:
converted_pi_number

'3.14'

In [9]:
isTrue = False
type(isTrue)

bool

In [4]:
str(False)

'False'

In [ ]:
converted_isTrue = str(isTrue)
type(converted_isTrue)

## float to int

z =5.9
z = int(z) #float data turunu int e cevirirken virgulden sonrasini atar 
           #tam kismi alir ve data type int e cevirir
z

## int to float

In [11]:
num_1 = 5
num_1 = float(num_1)
print(num_1)

5.0

In [ ]:
# age = "on sekiz"
# age = float(age) yazi halindeki string leri float veya int e ceviremeyiz hata verir
# sayi halindeki stringleri float veya int e cevirebiliriz

In [6]:
 # int("28.9") # tirnak icindeki verilerin tamsayiya cevirilebilmesi icin 
               # tirnak icindeki ifadenin tamsayi olmasi gerekir, yokra hata verir

In [12]:
str(False)

'False'

In [14]:
int(False) #boll False in rakamsal degeri 0 dir

0

In [15]:
int(True) #boll True nun rakamsal degeri 1 dir

1

In [16]:
float(True)

1.0

In [17]:
float(False)

0.0

In [8]:
float("-5.2")

-5.2

In [18]:
x = 5.6
int(x) #burada atama yapmadigimiz icin x in type degismedi
print(type(x))

<class 'float'>

In [19]:
y = 5.6
y = int(y) # burada atama yaptigimiz icin type degisti
print(type(y))

<class 'int'>

In [21]:
x = 25
y ="15"
z = "2.5"
w = "I'm at_"

In [23]:
print(x - int(y))
print(x - float(z))
print(z + str(x))
print(w+str(x))

10
22.5
2.525
I'm at_25

In [ ]:
int(float('5.0')) #python da ic ice islemler yapilabilir.
                  # string sayisal bir ifadeyi once float a sonra da int e cevirdik
                  # int('5.0') bu yazim hata veriyor cunku string float oldugu icin 
                  # once float a sonra int e cevirmeliyiz

In [3]:
str(10/2)

'5.0'

In [10]:
b = "merhaba, Nasilsiniz?"
print(b.encode())

b'merhaba, Nasilsiniz?'

In [2]:
print('9'+5)

TypeError: can only concatenate str (not "int") to str