### enumerate()

In [2]:
a = ["apple", "orange", "banana"]
a

['apple', 'orange', 'banana']

In [3]:
list(enumerate(a)) #enumerate() default olarak 0 dan baslayarak numaralandirma yapar

[(0, 'apple'), (1, 'orange'), (2, 'banana')]

In [4]:
tuple(enumerate(a))

((0, 'apple'), (1, 'orange'), (2, 'banana'))

In [5]:
list(enumerate(a, 100))#enumerate() icine yazilan numaradan baslayarak numaralandirma yapar

[(100, 'apple'), (101, 'orange'), (102, 'banana')]

In [7]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [8]:
min(num)

5

In [9]:
max(num)

55

In [10]:
len(num)

40

In [11]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
# Question 1:num listesindeki min ve max sayılar arasında kayıp tam sayılar bulunmaktadır. 
# kayıp sayıları bulun
empty_list = []
for i in range(min(num),max(num)+1) :
    if i not in num :
        empty_list.append(i)
print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [12]:
# continue ile cozumu
empty_list =[]
for i in range(min(num),max(num)+1) :
    if i in num :
        continue
    empty_list.append(i)
print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [14]:
# set ile cozumu
set(range(min(num),max(num)+1)).difference(set(num))

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [15]:
# Question 2:num listesindeki min ve max sayılar arasında 3 e bolunemeyen sayilari bulun. 
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
empty_list = []
for i in num :
    if i % 3 != 0 :
        empty_list.append(i)
print(empty_list)

[10, 11, 5, 52, 28, 29, 53, 19, 20, 47, 55, 41, 7, 17, 26, 22, 37, 46, 44, 34, 13, 35, 16, 50]